body{
  font-family: Arial, Helvetica, sans-serif;
  Background-color: wheat;
  min-height: 100vh;
}
.header{
  background-color: teal;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: pink;
}
 
.nav{
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.section{
  margin-left: 10%;
  float: right;
  width: 75%;
  text-align: left;
  border-style: solid;
  border-width: 2px;
}
.footer {
  bottom: 0;
  position: fixed;
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

ol{
list-style-type: upper-latin;
}
ul{
list-style-type: square;
}

.index{
  margin-left: 10%;
  text-align: center;
  
}
.row{
margin-left: 10%;
}
.info{
text-align: center;
font-size: 20px;
}
.table{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

}
.adress{
 margin-left: 10%;
  text-align: left;
  font-size: 20px;
}
.info{
   margin-left: 10%;
  text-align: center;
  font-size: 25px;
}}
